<div class="social">
  <ul class="social-links">
    {{ with .Site.Params.Social.Email }}
      <li><a href="mailto:{{ . }}"><i class="fa fa-envelope"></i></a></li>
    {{ end }}

    {{ with .Site.Params.Social.Instagram }}
      <li><a href="https://instagram.com/{{ . }}"><i class="fa fa-instagram"></i>
    {{ end }}

    {{ with .Site.Params.Social.Tiktok }}
      <li><a href="https://tiktok.com/{{ . }}"><svg fill="#000000" width="2em" height="2em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"><path d="M19.589 6.686a4.793 4.793 0 0 1-3.77-4.245V2h-3.445v13.672a2.896 2.896 0 0 1-5.201 1.743l-.002-.001.002.001a2.895 2.895 0 0 1 3.183-4.51v-3.5a6.329 6.329 0 0 0-5.394 10.692 6.33 6.33 0 0 0 10.857-4.424V8.687a8.182 8.182 0 0 0 4.773 1.526V6.79a4.831 4.831 0 0 1-1.003-.104z"/></svg>
    {{ end }}

    {{ with .Site.Params.Social.Kofi }}
      <li><a href="https://ko-fi.com/{{ . }}"><i class="fa fa-coffee"></i>
    {{ end }}

    {{ with .Site.Params.Social.Mastodon }}
      <li><a href="https://mastodon.social/@{{ . }}"><i class="fa fa-mastodon" aria-hidden="true"></i>
    {{ end }}

    {{ with .Site.Params.Social.Telegram }}
      <li><a href="https://telegram.me/{{ . }}"><i class="fa fa-telegram"></i></a></li>
    {{ end }}

    {{ with .Site.Params.Social.RSS }}
      <li><a href="{{ . }}"><i class="fa fa-rss"></i></a></li>
    {{ end }}
  </ul>
</div>
