<div class="social">
  <ul class="social-links">
    {{ with .Site.Params.Social.Email }}
      <li><a href="mailto:{{ . }}"><i class="fa fa-envelope"></i></a></li>
    {{ end }}

    {{ with .Site.Params.Social.Instagram }}
      <li><a href="https://instagram.com/{{ . }}"><i class="fa fa-instagram"></i></a></li>
    {{ end }}

    {{ with .Site.Params.Social.Tiktok }}
    <li><a href="https://tiktok.com/{{ . }}"><i class="fa-brands fa-tiktok"></i>
  {{ end }}

    {{ with .Site.Params.Social.Ko-fi }}
      <li><a href="https://ko-fi.com/{{ . }}"><i class="fas fa-coffee"></i>
    {{ end }}

    {{ with .Site.Params.Social.Mastodon }}
      <li><a href="https://mastodon.com/@{{ . }}"><i class="fab fa-mastodon"></i>
    {{ end }}

    {{ with .Site.Params.Social.Telegram }}
      <li><a href="https://telegram.me/{{ . }}"><i class="fa fa-telegram"></i></a></li>
    {{ end }}

    {{ with .Site.Params.Social.RSS }}
      <li><a href="{{ . }}"><i class="fa fa-rss"></i></a></li>
    {{ end }}
  </ul>
</div>
